.banner{
    position: fixed;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: #ff2c2c;
    height: 75px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
    align-items: center;
    flex-direction: row;
    z-index: 6;
    justify-content: space-between;
}

h1{
    font-family: outfit;
    padding-left: 20px;
    color: white;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 15, .25);
}
.about_us{
    font-family: outfit;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 15, .25);
    font-size: 1.2em;
    transition: .3s ease;
}
.about_us:hover{
    transform: scale(1.2);
    cursor: pointer;
}

h1:hover{
    cursor: pointer;
}
ul{
    list-style: none;
    background: #ff2c2c;
    padding-inline-start: 0px;
   
}
ul li {
    display: inline-block;
    position: relative;
    
}
ul li a{
    display: block;
    padding: 25px 50px;
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 20px;
   font-family: outfit;
   font-size: 1.2em;
   text-shadow: 0px 4px 4px rgba(0, 0, 15, .25);
   
}
ul li ul.dropdown li {
    display:block;
    
}
ul li ul.dropdown{
    width: 100%;
    background: #fd4242;
    position: absolute;
    z-index: 999;
    display: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 15, .25);
    
}
ul li a:hover{
    background: #ffffff;
    color: black;
    
}
ul li:hover ul.dropdown{
    display: block;
    
}
.menu{
    font-family: outfit;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 15, .25);
    font-size: 1.2em;
    transition: .3s ease;
    margin-right: 5%;
    width: 44%;
}
.about{
    background-color: #ffffff;
}
.btn_banner{
    margin-right: 3%;
}
