.search_bar{
    margin-top: 10%;
    display: flex;
    background-color: #e9e9e9;
    border-radius: 30px;
    border-style: none;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, .25);
    width: 50%;
    height: 60px;
    padding-left: 2%;
    font-family: outfit;
    font-weight: 600;
    font-size: 1.6em;
    align-self: center;
}
form{
    display: flex;
    justify-content: center;
}
.search_icon{
    position: absolute;
    height: 4%;
    margin-top: 12%;
    right: 25%;
    pointer-events: none;
}
        
                                                                                                                                                                                                                                                                                                                                                                                 